In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
conn = sqlite3.connect('resources/heart_db.db')
heart_data = pd.read_sql_query("SELECT * FROM heart_data", conn)
conn.close()

In [3]:
heart_data.head()

,age,sex,chestPainType,restingBP,cholesterol,fastingBS,restingECG,maxHR,exerciseAngina,oldPeak,stSlope,heartDisease,ageGroup
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,40-49
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,40-49
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,30-39
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,40-49
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,50-59

In [4]:
def key_function(key):
    if key == 0:
        return "Yes"
    else:
        return "No"

In [5]:
table = pd.pivot_table(heart_data, values=['cholesterol'], index=['ageGroup'], columns=['heartDisease'], aggfunc=np.mean, fill_value=0).round(2)
table

             cholesterol
heartDisease           0       1
ageGroup
20-29             210.50    0.00
30-39             224.40  162.15
40-49             231.94  199.33
50-59             230.01  176.67
60-69             217.54  164.31
70-79             193.00  181.09

In [6]:
df_dict = table.to_dict('index')
df_dict

{'20-29': {('cholesterol', 0): 210.5, ('cholesterol', 1): 0.0},
 '30-39': {('cholesterol', 0): 224.4, ('cholesterol', 1): 162.15},
 '40-49': {('cholesterol', 0): 231.94, ('cholesterol', 1): 199.33},
 '50-59': {('cholesterol', 0): 230.01, ('cholesterol', 1): 176.67},
 '60-69': {('cholesterol', 0): 217.54, ('cholesterol', 1): 164.31},
 '70-79': {('cholesterol', 0): 193.0, ('cholesterol', 1): 181.09}}

In [7]:
new_dict = []
for key, value in df_dict.items():
    for key2, value2 in value.items():
        new_dict.append({"ageGroup": key, key2[0]: value2, "heartDisease": key_function(key2[1])})
new_dict

[{'ageGroup': '20-29', 'cholesterol': 210.5, 'heartDisease': 'Yes'},
 {'ageGroup': '20-29', 'cholesterol': 0.0, 'heartDisease': 'No'},
 {'ageGroup': '30-39', 'cholesterol': 224.4, 'heartDisease': 'Yes'},
 {'ageGroup': '30-39', 'cholesterol': 162.15, 'heartDisease': 'No'},
 {'ageGroup': '40-49', 'cholesterol': 231.94, 'heartDisease': 'Yes'},
 {'ageGroup': '40-49', 'cholesterol': 199.33, 'heartDisease': 'No'},
 {'ageGroup': '50-59', 'cholesterol': 230.01, 'heartDisease': 'Yes'},
 {'ageGroup': '50-59', 'cholesterol': 176.67, 'heartDisease': 'No'},
 {'ageGroup': '60-69', 'cholesterol': 217.54, 'heartDisease': 'Yes'},
 {'ageGroup': '60-69', 'cholesterol': 164.31, 'heartDisease': 'No'},
 {'ageGroup': '70-79', 'cholesterol': 193.0, 'heartDisease': 'Yes'},
 {'ageGroup': '70-79', 'cholesterol': 181.09, 'heartDisease': 'No'}]

In [8]:
male_table = heart_data[heart_data.sex == 'M'].pivot_table(values=['cholesterol'], index=['ageGroup'], columns=['heartDisease'], aggfunc=np.mean, fill_value=0).round(2)
male_table

             cholesterol
heartDisease           0       1
ageGroup
20-29             210.50    0.00
30-39             233.82  172.61
40-49             232.81  194.47
50-59             213.68  167.43
60-69             178.83  159.07
70-79             138.75  189.71

In [9]:
male_df_dict = male_table.to_dict('index')
male_df_dict

{'20-29': {('cholesterol', 0): 210.5, ('cholesterol', 1): 0.0},
 '30-39': {('cholesterol', 0): 233.82, ('cholesterol', 1): 172.61},
 '40-49': {('cholesterol', 0): 232.81, ('cholesterol', 1): 194.47},
 '50-59': {('cholesterol', 0): 213.68, ('cholesterol', 1): 167.43},
 '60-69': {('cholesterol', 0): 178.83, ('cholesterol', 1): 159.07},
 '70-79': {('cholesterol', 0): 138.75, ('cholesterol', 1): 189.71}}

In [10]:
new_dict = []
for key, value in male_df_dict.items():
    for key2, value2 in value.items():
        new_dict.append({"ageGroup": key, key2[0]: value2, "heartDisease": key2[1]})
new_dict

[{'ageGroup': '20-29', 'cholesterol': 210.5, 'heartDisease': 0},
 {'ageGroup': '20-29', 'cholesterol': 0.0, 'heartDisease': 1},
 {'ageGroup': '30-39', 'cholesterol': 233.82, 'heartDisease': 0},
 {'ageGroup': '30-39', 'cholesterol': 172.61, 'heartDisease': 1},
 {'ageGroup': '40-49', 'cholesterol': 232.81, 'heartDisease': 0},
 {'ageGroup': '40-49', 'cholesterol': 194.47, 'heartDisease': 1},
 {'ageGroup': '50-59', 'cholesterol': 213.68, 'heartDisease': 0},
 {'ageGroup': '50-59', 'cholesterol': 167.43, 'heartDisease': 1},
 {'ageGroup': '60-69', 'cholesterol': 178.83, 'heartDisease': 0},
 {'ageGroup': '60-69', 'cholesterol': 159.07, 'heartDisease': 1},
 {'ageGroup': '70-79', 'cholesterol': 138.75, 'heartDisease': 0},
 {'ageGroup': '70-79', 'cholesterol': 189.71, 'heartDisease': 1}]

In [11]:
female_table = heart_data[heart_data.sex == 'F'].pivot_table(values=['cholesterol'], index=['ageGroup'], columns=['heartDisease'], aggfunc=np.mean, fill_value=0).round(2)
female_table

             cholesterol
heartDisease           0       1
ageGroup
30-39             204.38   82.00
40-49             230.43  263.33
50-59             264.54  265.30
60-69             274.00  201.75
70-79             236.40    0.00